/* --- GENERAL --- */
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #808080 ;
}

h1,
h2,
h3,
h4{
    font-weight: 500;
}

hr{
    margin: 50px 0;
    border-top: 2px solid #e5e5e5;
}

/* --- UTILITIES ---*/

.clearfix::after{
    content:'';
    display: table;
    clear: both;
}

.c-black{
    color: black;
}

/* Layout */
.container{
    width: 1200px;
    margin:0 auto;
}

.clearfix::after{
    content:'';
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.w-50{
    width: 50%;
}

.m-right30{
    margin-right: 30px;
}
.m-bottom50{
    margin-bottom: 50px;
}

.padding50{
    padding: 50px;
}

.font-size12{
    font-size: 12px;
}

/* Menu */
.menu-inline li{
    display: inline-block;
    list-style: none;
    margin-right: 20px;
 }

 .menu-inline li:last-child{
    margin-right: 0;
}

/* Buttons */
.btn{
    display: inline-block;
    min-width: 100px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.btn-effect:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

.btn.btn-green{
    background: #7cbb01;
    border:1px solid transparent;
}

.btn.btn-big{
    padding:20px;
}

/* Main */
.center{
    text-align: center;   
}

/* H2 main colums  */
.center-green{
    text-align: center;
    color: #7cbb01;   
}

/* --- HELP --- */
.help.btn {
    min-width: 50px;
    position: fixed;
    bottom: 0;
    right: 300px;
    border-radius: 5px 5px 0 0;
    z-index: 10;
}


/* --- MAIN HEADER --- */
.main-header{
    position: fixed;
    top: 0;
    width: 100%;
    line-height: 80px;
    text-transform: uppercase;
    background-color: #0d325a81;
}

.main-header .logo{
    width: 15%;
}

.main-header .logo img{
    vertical-align: middle;
    position: relative;
    bottom: 5px;
}

.main-header .nav-center{
    width: 45%;
}

.main-header .nav-right{
    width: 40%;
    text-align: right;
}

.main-header a{
    text-decoration: none;
    color: white;
}

.main-header a:not(.btn):hover{
    color:#a5e624;
}

.main-header a.btn {
   line-height: 12px;
}


/* --- MAIN --- */
/* JUMBOTRON */
.jumbotron{
    height: 560px;
    padding-top:80px;
    background: #0d325a;
    background-image: url('../img/background-header.png');
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 115% 110%;
}

.jumbotron .container{
    position: relative;
    height: 100%;
}

.jumbotron .jumbotron-text{
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
}

.jumbotron .jumbotron-text h1{
    margin-bottom: 30px;
    font-size: 50px ;
    color: white;
}

/* TOP BANNER */
.gray-banner{
    height: 130px;
    background:#d3d3d3;
}

.top-banner{
    padding: 30px 0;
}
.top-banner h2{
    margin-bottom: 10px;
}


/* STRENGHTS */
.strenghts .col{
    width: 33%;
    padding: 0 30px;
}

.strenghts .col img{
    height: 150px;
    margin-bottom: 20px;
}
.strenghts hr{
    width: 25%;
    margin:30px auto;
}


/* DISCOVER */
.discover .discover-text h2{
    font-size: 30px;
}
.discover .discover-text p{
    margin:15px 0;
}

.discover .discover-text a{
    color: #6893c3;
}


/* FOOTER */
footer .container{
    padding:30px;
}

footer h2{
    padding:20px;
}

footer .footer-right{
    text-align: right;
}

footer .footer-right .select{
    display: inline-block;
    border-bottom: 1px solid #9b9b9b;
    line-height: 1;
    cursor: pointer;
}